.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1200;
}

.Modal {
  position: relative;
  min-width: 25vw;
  min-height: 60vh;

  background-color: rgba(242, 242, 242, 1);
  border-radius: 20px;
}

.btnClose {
  position: absolute;
  top: 20px;
  right: 20px;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 30px;
  height: 30px;
  border: none;
  padding: 5px;
  border-radius: 50%;
  z-index: 1000;

  cursor: pointer;
  color: #fff;
  background-color: transparent;

  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);

  transition: all 500ms ease-in-out;

  &:focus,
  &:hover {
    background-color: rgba(127, 255, 212, 0.7);
  }
}
