.container {
  width: 90%;
  padding: 10px;

  outline: 1px solid salmon;
  margin: 0 auto;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  &:last-child {
    margin-top: 15px;
  }
}
